---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
import coverImage from "../assets/images/pixeltrue-space-discovery.svg";
---

<MainLayout activePage="contact" pageTitle="Presentación | Paula Buitrago">
  <div class="page-content text-center">

   
    <h1 class="sigmar-ff text-balance">
      {siteConfig.contactInfo?.title}
    </h1>

   
    <p class="font-light text-balance mt-4 mb-8 max-w-2xl mx-auto">
      {siteConfig.contactInfo?.text}
    </p>

    
    <Image
      width={400}
      height={300}
      loading="eager"
      class="rounded-4xl mb-10 mx-auto"
      src={coverImage}
      alt="Imagen de presentación"
    />

    <!-- Videooo -->
    <div class="flex justify-center my-10">
      <iframe
        width="800"
        height="450"
        src="https://www.youtube.com/embed/XvI8aJPXiYA"
        title="Video de presentación"
        frameborder="0"
        allowfullscreen
        class="rounded-2xl shadow-lg"
      ></iframe>
    </div>

    <!-- Correooo -->
    <div class="mt-10">
      <p class="font-medium text-lg">
        {siteConfig.contactInfo?.email?.text}
      </p>

      <a
        href={siteConfig.contactInfo?.email?.href}
        class="text-blue-500 hover:underline text-lg"
      >
        {siteConfig.contactInfo?.email?.email}
      </a>
    </div>

  </div>
</MainLayout>
